@import '../../_variables.scss';

.header {
  height: 60px;
  color: $font-inverse-color;

  .navbar {
    background-color: $primary-color;

    .navbar-toggler{
      color: $font-inverse-color;
    }

    ul {
      list-style-type: none;

      li {
        a {
          text-decoration: none;
          color: $font-inverse-color;
        }
      }
    }
  }
}