@import '../../_variables.scss';

.header {
  height: 60px;
  color: $font-inverse-color;

  .navbar {
    background-color: $primary-color;

    .navbar-brand {
      color: $font-inverse-color;
    }
    
    .navbar-toggler{
      background-color: $primary-color-lighter;
      .material-icons {
        color: $font-inverse-color;
      }
    }

    ul {
      li {
        &:hover {
          background-color: $primary-color-lighter;
          border-radius: 5px;
        }

        a {
          text-decoration: none;
          color: $font-inverse-color;
        }
      }
    }
  }
}