@font-face {
  font-family: 'supercellMagic';
  src: url("/assets/fonts/Supercell-magic-webfont.ttf") format("truetype");
}

$font-titles: 'supercellMagic', sans-serif;

$primary-color: #235287;
$primary-color-lighter: #285f97;

$font-primary-color: black;
$font-inverse-color: white;

$gray-lighter: #EEEEEE;